**NAME- ADITI GADEKAR**

In [1]:
import pandas as pd
data = {
    'Name': ['Kimaya','Mitali','Apurva','Pranita','Ritika','Ruhi','Alicee','Aditi',
             'Siya','Nikita','Priya','Riya','Sneha','Sakshi','Pranjal','Siya','Pradnya'],
    'Roll_no': ['59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75'],
    'Sem1 Grade': [8.1, 7.9, 8.3, 8.0, 8.5, 8.4, 8.6, 8.2, 8.0, 8.1, 7.9, 8.5, 8.3, 8.6, 8.2, 8.4, 8.3],
    'Sem2 Grade': [8.2, 8.1, 8.4, 8.2, 8.7, 8.6, 8.8, 8.5, 8.3, 8.0, 8.1, 8.4, 8.2, 8.5, 8.4, 8.5, 8.1],
    'Sem3 Grade': [8.3, 8.2, 8.5, 8.4, 8.6, 8.8, 8.9, 8.3, 8.4, 8.3, 8.2, 8.6, 8.5, 8.4, 8.6, 8.2, 8.5],
    'Sem4 Grade': [8.4, 8.3, 8.6, 8.5, 8.9, 8.5, 9.0, 8.6, 8.5, 8.2, 8.3, 8.7, 8.4, 8.7, 8.5, 8.6, 8.6],
    'Sem5 Grade': [8.5, 8.0, 8.7, 8.3, 8.8, 8.7, 9.1, 8.7, 8.4, 8.4, 8.2, 8.8, 8.6, 8.8, 8.4, 8.5, 8.4],
    'Sem6 Grade': [8.6, 8.2, 8.8, 8.4, 9.0, 8.9, 9.2, 8.8, 8.7, 8.5, 8.4, 8.9, 8.7, 8.9, 8.7, 8.7, 8.8],
}
df = pd.DataFrame(data)
df['CGPA'] = df.loc[:, 'Sem1 Grade':'Sem6 Grade'].mean(axis=1)
print(df)

       Name Roll_no  Sem1 Grade  Sem2 Grade  Sem3 Grade  Sem4 Grade  \
0    Kimaya      59         8.1         8.2         8.3         8.4
1    Mitali      60         7.9         8.1         8.2         8.3
2    Apurva      61         8.3         8.4         8.5         8.6
3   Pranita      62         8.0         8.2         8.4         8.5
4    Ritika      63         8.5         8.7         8.6         8.9
5      Ruhi      64         8.4         8.6         8.8         8.5
6    Alicee      65         8.6         8.8         8.9         9.0
7     Aditi      66         8.2         8.5         8.3         8.6
8      Siya      67         8.0         8.3         8.4         8.5
9    Nikita      68         8.1         8.0         8.3         8.2
10    Priya      69         7.9         8.1         8.2         8.3
11     Riya      70         8.5         8.4         8.6         8.7
12    Sneha      71         8.3         8.2         8.5         8.4
13   Sakshi      72         8.6         8.5         8.4         8.7
14  Pranjal      73         8.2         8.4         8.6         8.5
15     Siya      74         8.4         8.5         8.2         8.6
16  Pradnya      75         8.3         8.1         8.5         8.6

    Sem5 Grade  Sem6 Grade      CGPA
0          8.5         8.6  8.350000
1          8.0         8.2  8.116667
2          8.7         8.8  8.550000
3          8.3         8.4  8.300000
4          8.8         9.0  8.750000
5          8.7         8.9  8.650000
6          9.1         9.2  8.933333
7          8.7         8.8  8.516667
8          8.4         8.7  8.383333
9          8.4         8.5  8.250000
10         8.2         8.4  8.183333
11         8.8         8.9  8.650000
12         8.6         8.7  8.450000
13         8.8         8.9  8.650000
14         8.4         8.7  8.466667
15         8.5         8.7  8.483333
16         8.4         8.8  8.450000

In [2]:
#save dataframes to csv
df.to_csv('enc4_data.csv', index=False)
print("CSV file saved as 'enc4_data.csv'")

CSV file saved as 'enc4_data.csv'

In [3]:
df_new = pd.read_csv('enc4_data.csv')
print(df_new)

       Name  Roll_no  Sem1 Grade  Sem2 Grade  Sem3 Grade  Sem4 Grade  \
0    Kimaya       59         8.1         8.2         8.3         8.4
1    Mitali       60         7.9         8.1         8.2         8.3
2    Apurva       61         8.3         8.4         8.5         8.6
3   Pranita       62         8.0         8.2         8.4         8.5
4    Ritika       63         8.5         8.7         8.6         8.9
5      Ruhi       64         8.4         8.6         8.8         8.5
6    Alicee       65         8.6         8.8         8.9         9.0
7     Aditi       66         8.2         8.5         8.3         8.6
8      Siya       67         8.0         8.3         8.4         8.5
9    Nikita       68         8.1         8.0         8.3         8.2
10    Priya       69         7.9         8.1         8.2         8.3
11     Riya       70         8.5         8.4         8.6         8.7
12    Sneha       71         8.3         8.2         8.5         8.4
13   Sakshi       72         8.6         8.5         8.4         8.7
14  Pranjal       73         8.2         8.4         8.6         8.5
15     Siya       74         8.4         8.5         8.2         8.6
16  Pradnya       75         8.3         8.1         8.5         8.6

    Sem5 Grade  Sem6 Grade      CGPA
0          8.5         8.6  8.350000
1          8.0         8.2  8.116667
2          8.7         8.8  8.550000
3          8.3         8.4  8.300000
4          8.8         9.0  8.750000
5          8.7         8.9  8.650000
6          9.1         9.2  8.933333
7          8.7         8.8  8.516667
8          8.4         8.7  8.383333
9          8.4         8.5  8.250000
10         8.2         8.4  8.183333
11         8.8         8.9  8.650000
12         8.6         8.7  8.450000
13         8.8         8.9  8.650000
14         8.4         8.7  8.466667
15         8.5         8.7  8.483333
16         8.4         8.8  8.450000

In [4]:
#Display
print(df_new)

       Name  Roll_no  Sem1 Grade  Sem2 Grade  Sem3 Grade  Sem4 Grade  \
0    Kimaya       59         8.1         8.2         8.3         8.4
1    Mitali       60         7.9         8.1         8.2         8.3
2    Apurva       61         8.3         8.4         8.5         8.6
3   Pranita       62         8.0         8.2         8.4         8.5
4    Ritika       63         8.5         8.7         8.6         8.9
5      Ruhi       64         8.4         8.6         8.8         8.5
6    Alicee       65         8.6         8.8         8.9         9.0
7     Aditi       66         8.2         8.5         8.3         8.6
8      Siya       67         8.0         8.3         8.4         8.5
9    Nikita       68         8.1         8.0         8.3         8.2
10    Priya       69         7.9         8.1         8.2         8.3
11     Riya       70         8.5         8.4         8.6         8.7
12    Sneha       71         8.3         8.2         8.5         8.4
13   Sakshi       72         8.6         8.5         8.4         8.7
14  Pranjal       73         8.2         8.4         8.6         8.5
15     Siya       74         8.4         8.5         8.2         8.6
16  Pradnya       75         8.3         8.1         8.5         8.6

    Sem5 Grade  Sem6 Grade      CGPA
0          8.5         8.6  8.350000
1          8.0         8.2  8.116667
2          8.7         8.8  8.550000
3          8.3         8.4  8.300000
4          8.8         9.0  8.750000
5          8.7         8.9  8.650000
6          9.1         9.2  8.933333
7          8.7         8.8  8.516667
8          8.4         8.7  8.383333
9          8.4         8.5  8.250000
10         8.2         8.4  8.183333
11         8.8         8.9  8.650000
12         8.6         8.7  8.450000
13         8.8         8.9  8.650000
14         8.4         8.7  8.466667
15         8.5         8.7  8.483333
16         8.4         8.8  8.450000

In [5]:
#display rows 4 and 6 with columns 'Name' and 'CGPA'
print(df_new.loc[[3,5],['Name','CGPA']])

      Name  CGPA
3  Pranita  8.30
5     Ruhi  8.65

In [6]:
#print column_name as list
print(list(df_new.columns))

['Name', 'Roll_no', 'Sem1 Grade', 'Sem2 Grade', 'Sem3 Grade', 'Sem4 Grade', 'Sem5 Grade', 'Sem6 Grade', 'CGPA']

In [7]:
#display no of rows and columns
print(df_new.shape)

(17, 9)

In [8]:
#drop rowwise and save dataframe
df_new.drop(index=5,inplace=True)
print(df_new)

       Name  Roll_no  Sem1 Grade  Sem2 Grade  Sem3 Grade  Sem4 Grade  \
0    Kimaya       59         8.1         8.2         8.3         8.4
1    Mitali       60         7.9         8.1         8.2         8.3
2    Apurva       61         8.3         8.4         8.5         8.6
3   Pranita       62         8.0         8.2         8.4         8.5
4    Ritika       63         8.5         8.7         8.6         8.9
6    Alicee       65         8.6         8.8         8.9         9.0
7     Aditi       66         8.2         8.5         8.3         8.6
8      Siya       67         8.0         8.3         8.4         8.5
9    Nikita       68         8.1         8.0         8.3         8.2
10    Priya       69         7.9         8.1         8.2         8.3
11     Riya       70         8.5         8.4         8.6         8.7
12    Sneha       71         8.3         8.2         8.5         8.4
13   Sakshi       72         8.6         8.5         8.4         8.7
14  Pranjal       73         8.2         8.4         8.6         8.5
15     Siya       74         8.4         8.5         8.2         8.6
16  Pradnya       75         8.3         8.1         8.5         8.6

    Sem5 Grade  Sem6 Grade      CGPA
0          8.5         8.6  8.350000
1          8.0         8.2  8.116667
2          8.7         8.8  8.550000
3          8.3         8.4  8.300000
4          8.8         9.0  8.750000
6          9.1         9.2  8.933333
7          8.7         8.8  8.516667
8          8.4         8.7  8.383333
9          8.4         8.5  8.250000
10         8.2         8.4  8.183333
11         8.8         8.9  8.650000
12         8.6         8.7  8.450000
13         8.8         8.9  8.650000
14         8.4         8.7  8.466667
15         8.5         8.7  8.483333
16         8.4         8.8  8.450000

In [9]:
#drop columnwise and save dataframe
df_new.drop(columns='Sem6 Grade',inplace=True)
print(df_new)

       Name  Roll_no  Sem1 Grade  Sem2 Grade  Sem3 Grade  Sem4 Grade  \
0    Kimaya       59         8.1         8.2         8.3         8.4
1    Mitali       60         7.9         8.1         8.2         8.3
2    Apurva       61         8.3         8.4         8.5         8.6
3   Pranita       62         8.0         8.2         8.4         8.5
4    Ritika       63         8.5         8.7         8.6         8.9
6    Alicee       65         8.6         8.8         8.9         9.0
7     Aditi       66         8.2         8.5         8.3         8.6
8      Siya       67         8.0         8.3         8.4         8.5
9    Nikita       68         8.1         8.0         8.3         8.2
10    Priya       69         7.9         8.1         8.2         8.3
11     Riya       70         8.5         8.4         8.6         8.7
12    Sneha       71         8.3         8.2         8.5         8.4
13   Sakshi       72         8.6         8.5         8.4         8.7
14  Pranjal       73         8.2         8.4         8.6         8.5
15     Siya       74         8.4         8.5         8.2         8.6
16  Pradnya       75         8.3         8.1         8.5         8.6

    Sem5 Grade      CGPA
0          8.5  8.350000
1          8.0  8.116667
2          8.7  8.550000
3          8.3  8.300000
4          8.8  8.750000
6          9.1  8.933333
7          8.7  8.516667
8          8.4  8.383333
9          8.4  8.250000
10         8.2  8.183333
11         8.8  8.650000
12         8.6  8.450000
13         8.8  8.650000
14         8.4  8.466667
15         8.5  8.483333
16         8.4  8.450000